{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">

    <!-- Start Simple Pie Chart -->
    <div class="row align-items-stretch">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Monthly Report</h4>
            <div id="chart-pie-simple"></div>
          </div>
        </div>
      </div>
      <!-- Start Dinut Pie Chart -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Analisis</h4>
            <form>
              <div class="form-group mb-4">
                <select class="form-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected disabled>Choose Report</option>
                  <option value="1">Daily Report</option>
                  <option value="2">Weekly Report</option>
                  <option value="3">Monthly Report</option>
                  <option value="3">Anualy Report</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Branchs</h4>
            <div id="chart-pie-donut"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card w-100 position-relative overflow-hidden">
          <div class="card-body">
            <h3 class="mb-0 text-center">Branch 1</h3>
            <div class="row align-items-center">
              <div class="col-md-6">
                <h4 class="fw-semibold mb-0 mt-4">$456,120</h4>
                <p class="mb-1 fs-2 mb-2">( Purchese )</p>
                <h4 class="fw-semibold mb-0 mt-4">$456,120</h4>
                <p class="mb-1 fs-2 mb-2">( Seles )</p>
                <h4 class="fw-semibold mb-0 mt-4">$456,120</h4>
                <p class="mb-1 fs-2 mb-2">( Profit )</p>
              </div>
              <div class="col-md-6">
                <div class="d-flex justify-content-center">
                  <div id="breakup" class="me-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Dinut Pie Chart -->
    </div>
    <!-- End Simple Pie Chart -->
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'assets/js/widget/widgets-charts.js' %}"></script>
<script src="{% static 'assets/js/apex-chart/apex.radial.init.js' %}"></script>
<script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/apex-chart/apex.pie.init.js' %}"></script>
{% endblock script %}