{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="datatables">
      <!-- start File export -->
      <div class="card">
        <div class="px-4 py-3 border-bottom">
          <h4 class="card-title mb-0">Delivery Report</h4>
        </div>
        <form class="card-body p-4 pb-0 mb-0" method="post">
          {% csrf_token %}
          <div class="row mb-0">
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputInvoiceNo" class="form-label">To</label>
                <input type="date" class="form-control" name="StartDate" id="StartDate" value="{{StartDate}}" >
              </div>
            </div>
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputInvoiceNo" class="form-label">From</label>
                <input type="date" class="form-control" name="EndDate" id="EndDate" value="{{EndDate}}">
              </div>
            </div>
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputInvoiceNo" class="form-label">Invoice No.</label>
                <input type="text" class="form-control" name="InvoiceNo" id="InvoiceNo" onkeydown="calcVal();" onkeyup="calcVal();">
              </div>
            </div>
            <div class="col-md-2">
              <label for="exampleInputtype" class="form-label">Delivery Boy Name</label>
              <div class="mb-4">
                <select class="select2 form-control  custom-select" name="DeliveryBoyName">
                  <option>Select</option>
                  <optgroup label="">
                    {% for i in sp %}
                    <option value="{{i}}" {% if DeliveryBoyName == i %} selected {% endif %}>{{i}}</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </form>
        <hr>
        <div class="card-body">
          <div class="table-responsive">
            <table id="file_export" class="table w-100 table-striped table-bordered display text-nowrap">
              <thead>
                <!-- start row -->
                <tr>
                  <th class="p-2">Date</th>
                  <th class="p-2">Party Name</th>
                  <th class="p-2">Invoice No.</th>
                  <th class="p-2">Type Of Business</th>
                  <th class="p-2">Delivery Time</th>
                  <th class="p-2">Delivery Boy Name</th>
                  <th class="p-2">Type of Payment</th>
                  <th class="p-2">Amount</th>
                  <th class="p-2"></th>
                </tr>
                <!-- end row -->
              </thead>
              <tbody id="tbody">
                {% for i in sales %}
                <tr>
                  <td class="p-2">{{i.Date}}</td>
                  <td class="p-2">{{i.PartyName}}</td>
                  <td class="p-2">{{i.InvoiceNo}}</td>
                  <td class="p-2">{{i.TypeOfBusiness}}</td>
                  <td class="p-2">{{i.DeliveryTime}}</td>
                  <td class="p-2">{{i.DeliveryBoyName}}</td>
                  <td class="p-2">{{i.TypeofPayment}}</td>
                  <td class="p-2">{{i.Amount}}</td>
                  <td class="p-2"><a class="btn btn-warning mr-3" href="/SalesDetails/{{i.id}}" style="margin-left: 5px;"><i class='ti ti-view-360'></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
              <tbody>
                <tr>
                  <td colspan="2"><b>Pending Balance</b></td>
                  <td colspan="1"><b id="tam">{{PB}}</b></td>
                  <td colspan="2"><b>Bank Balance</b></td>
                  <td colspan="1"><b id="tam">{{BB}}</b></td>
                  <td colspan="2"><b>Cash Balance</b></td>
                  <td colspan="1"><b id="tam">{{CB}}</b></td>
                </tr>
                <tr>
                  <td colspan="8"><b>Total Amount</b></td>
                  <td colspan="1"><b id="tam">{{ta}}</b></td>
                </tr>
              </tbody>
              <tbody class="bg-white">
                <tr class="bg-white">
                  <td class="p-2" colspan="9" class="bg-white"><span>
                      <center><b id="mes" class="text-danger"></b></center>
                    </span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end File export -->
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
<script>
  
  var $InvoiceNo = $('#InvoiceNo');
  function calcVal() {
    var IN = $InvoiceNo.val();
    if ($InvoiceNo.val() != '') {
      $.ajax({
        url: '/InvoiceNo/' + $InvoiceNo.val() + '/Sales',
        type: 'GET',
        success: function (resp) {
          if(resp.mgs != 0){
            var tamount3 = document.getElementById("mes");
            tamount3.innerText = resp.mgs;
            var tam = document.getElementById('tam');
            tam.innerText = 0;
            output = '';
            $('#tbody').html(output);
          }
          else{
            x = resp.Sc
          output = ''
          ta = 0
          for (i = 0; i < x.length; i++) {
            output += "<tr><td class='p-2'>"+ x[i].Date +"</td>";
            output += "<td class='p-2'>"+ x[i].PartyName +"</td>";
            output += "<td class='p-2'>"+ x[i].InvoiceNo +"</td>";
            output += "<td class='p-2'>"+ x[i].TypeOfBusiness +"</td>";
            output += "<td class='p-2'>"+ x[i].DeliveryTime +"</td>";
            output += "<td class='p-2'>"+ x[i].DeliveryBoyName +"</td>";
            output += "<td class='p-2'>"+ x[i].TypeofPayment +"</td>";
            output += "<td class='p-2'>"+ x[i].Amount +"</td>";
            output += "<td class='p-2'><a class='btn btn-warning mr-3' href='/SalesDetails/"+ x[i].id +"' style='margin-left: 5px;'><i class='ti ti-view-360'></i></a></td></tr>"; 
            ta += parseFloat(x[i].Amount);
          };
          $('#tbody').html(output);
          var tamount3 = document.getElementById("mes");
            tamount3.innerText = '';
          var tam = document.getElementById('tam');
            tam.innerText = ta;
          }
          
        },
        error: function (resp) {
          console.log('Something went wrong');
        }
      });
    } else {
      console.log('Something went wrong');
    }
  }
</script>
{% endblock script %}
