{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header text-bg-success">
        <h5 class="mb-0 text-white">Expanse Details</h5>
      </div>
      <form class="form-horizontal">
        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="form-label text-md-end col-md-4">Date :</label>
                  <div class="col-md-8">
                    <p class="form-control-static">{{data.Date}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="form-label text-md-end col-md-4">Party Name :</label>
                  <div class="col-md-8">
                    <p class="form-control-static">{{data.PartyName}}</p>
                  </div>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="form-label text-md-end col-md-4">Type of Payment :</label>
                  <div class="col-md-8">
                    <p class="form-control-static">{{data.TypeofPayment}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="form-label text-md-end col-md-4">Amount :</label>
                  <div class="col-md-8">
                    <p class="form-control-static">{{data.Amount}}</p>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <div class="row justify-content-center">
              <div class="col-11">
                <table class="table table-striped table-bordered display text-nowrap" id="thad">
                  <thead>
                    <tr class="p-0">
                      <th class="p-2">No.</th>
                      <th class="p-2">Expanses Name</th>
                      <th class="p-2">Amount</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    {% for i in ELM %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.Expanse}}</td>
                        <td>{{i.Amount}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="2">Total</th>
                      <th >
                        <span id="tamount2">{{tamonut}}</span>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="form-actions border-top">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <a href="#" class="btn btn-success">
                        <i class="ti ti-edit fs-5"></i>
                        Edit
                      </a>
                      <a class="btn bg-danger-subtle text-danger ms-6" href="/SalesReturn">
                        Cancel
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- start -->
  </div>
</div>
{% endblock content %}