{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="datatables">
      <!-- start File export -->
      <div class="card">
        <div class="px-4 py-3 border-bottom">
          <h4 class="card-title mb-0">OutstandingReport</h4>
        </div>
        <form class="card-body p-4 pb-0 mb-0" method="post">
          {% csrf_token %}
          <div class="row mb-0">
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputInvoiceNo" class="form-label">To</label>
                <input type="date" class="form-control" name="StartDate" id="StartDate" value="{{StartDate}}" >
              </div>
            </div>
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputInvoiceNo" class="form-label">From</label>
                <input type="date" class="form-control" name="EndDate" id="EndDate" value="{{EndDate}}">
              </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <button class="btn btn-primary" formaction="OutstandingReport/Payable">Payable</button>
                <button class="btn btn-primary ms-2" formaction="OutstandingReport/Receivable">Receivable</button>
            </div>
          </div>
        </form>
        <hr>
        <div class="card-body">
          <div class="table-responsive">
            <table id="file_export" class="table w-100 table-striped table-bordered display text-nowrap">
              <thead>
                <!-- start row -->
                <tr>
                  <th class="p-2">Date</th>
                  <th class="p-2">Party Name</th>
                  <th class="p-2">Type</th>
                  <th class="p-2">Bill</th>
                  <th class="p-2">Debited</th>
                  <th class="p-2">Cedited</th>
                  <th class="p-2">Balance</th>
                </tr>
                <!-- end row -->
              </thead>
              <tbody id="tbody">
                {% for i in Lr %}
                <tr>
                  <td class="p-2">{{i.Date}}</td>
                  <td class="p-2">{{i.PartyName}}</td>
                  <td class="p-2">{{i.Type}}</td>
                  <td class="p-2">{{i.BiilNo}}</td>
                  <td class="p-2">{{i.Debited}}</td>
                  <td class="p-2">{{i.Cedited}}</td>
                  <td class="p-2">{{i.Balance}}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tbody class="bg-white">
                <tr class="bg-white">
                  <td class="p-2" colspan="8" class="bg-white"><span>
                      <center><b id="mes" class="text-danger"></b></center>
                    </span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end File export -->
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
<script>

</script>
{% endblock script %}
