{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="datatables">
      <!-- start File export -->
      <div class="card">
        <div class="px-4 py-3 border-bottom">
          <h4 class="card-title mb-0">Purchase Register</h4>
        </div>
        <form class="card-body p-4 pb-0 mb-0" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="row mb-0">
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputtype" class="form-label">Type of Purchase</label>
                <select class="form-select form-control-sm" id="exampleInputtype" name="TypeofPurchase" tabindex="1">
                  <option value="" selected>-- Selet --</option>
                  <option value="Market Yard">Market Yard</option>
                  <option value="Vendor">Vendor</option>
                  <option value="Local Market">Local Market</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputBillno" class="form-label">Bill No</label>
                <input type="text" class="form-control " id="exampleInputBillno" name="BillNo" placeholder="">
                <input type="hidden" name="Amount" value="{{tamonut}}">
              </div>
            </div>
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputInvoiceNo" class="form-label">Invoice No.</label>
                <input type="text" class="form-control " id="exampleInputInvoiceNo" name="InvoiceNo" placeholder="">
                <input type="hidden" name="ProductId" value="{{ProductId}}">
              </div>
            </div>
            <div class="col-md-2">
              <div class="mb-4">
                <label for="exampleInputtype" class="form-label">Type of Payment</label>
                <select class="form-select" id="exampleInputtype" name="TypeofPayment" tabindex="1">
                  <option value="" selected>-- Selet --</option>
                  <option value="Case">Case</option>
                  <option value="Credit">Credit</option>
                  <option value="Gpay">Gpay</option>
                  <option value="UPI">UPI</option>
                  <option value="Net banking">Net banking</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <label for="exampleInputtype" class="form-label">Party Name</label>
              <div class="mb-4">
                <select class="select2 form-control  custom-select" name="PartyName">
                  <option>Select</option>
                  <optgroup label="">
                    {% for i in Party %}
                    <option value="{{i.PartyName}}">{{i.PartyName}}</option>
                    {% endfor %}
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </form>
        <hr>
        <div class="card-body">
          <div class="table-responsive">
            <table id="file_export" class="table w-100 table-striped table-bordered display text-nowrap">
              <thead>
                <!-- start row -->
                <tr>
                  <th>Date</th>
                  <th>Party Name</th>
                  <th>Invoice No.</th>
                  <th>Bill No.</th>
                  <th>Type of Purchase</th>
                  <th>Type of Payment</th>
                  <th>Amount</th>
                  <th></th>
                </tr>
                <!-- end row -->
              </thead>
              <tbody>
                {% for i in Purchase %}
                <tr>
                  <td>{{i.date}}</td>
                  <td>{{i.PartyName}}</td>
                  <td>{{i.InvoiceNo}}</td>
                  <td>{{i.BillNo}}</td>
                  <td>{{i.TypeofPurchase}}</td>
                  <td>{{i.TypeofPayment}}</td>
                  <td>{{i.Amount}}</td>
                  <td></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end File export -->
    </div>
  </div>
</div>
{% endblock content %}
