{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="datatables">
      <!-- start File export -->
      <div class="card">
        <div class="px-4 py-3 border-bottom">
          <h4 class="card-title mb-0">Sales Return Stock Report</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="file_export" class="table w-100 table-striped table-bordered display text-nowrap">
              <thead>
                <!-- start row -->
                <tr>
                  <th>No.</th>
                  <th>Product Name</th>
                  <th></th>
                </tr>
                <!-- end row -->
              </thead>
              <tbody>
                {% for i in stock %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{i}}</td>
                  <td><a class="btn btn-warning mr-3" href="/RProductsDetails/{{i}}" style="margin-left: 5px;"><i class='ti ti-view-360'></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end File export -->
    </div>
  </div>
</div>
{% endblock content %}
