<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Accounting Voucher Display</title>
    <meta name="author" content="TallyPrime" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: bold !important;
            text-decoration: none !important;
            font-size: 12pt !important;
        }

        .s1 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: bold !important;
            text-decoration: none !important;
            font-size: 10pt !important;
        }

        .s2 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 10pt !important;
        }

        .s3 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 9pt !important;
        }

        .s4 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: italic !important;
            font-weight: bold !important;
            text-decoration: none !important;
            font-size: 10pt !important;
        }

        .s5 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 12pt !important;
        }

        .s7 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: italic !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 9pt !important;
        }

        .s8 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: bold !important;
            text-decoration: none !important;
            font-size: 9pt !important;
        }

        .s9 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 7pt !important;
        }

        .s10 {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 8pt !important;
        }

        p {
            color: black !important;
            font-family: Arial, sans-serif !important;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration: none !important;
            font-size: 9pt !important;
            margin: 0pt !important;
        }

        table,
        tbody {
            vertical-align: top !important;
            overflow: visible !important;
        }
    </style>
</head>

<body>
    <h1 style="padding-top: 3pt;text-indent: 0pt;text-align: center;">Tax Invoice</h1>
    <table style="border-collapse:collapse;margin-left:5.125pt" cellspacing="0">
        <tr style="height:26pt">
            <td style="width:234pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5" rowspan="2">
                <p class="s1" style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">SHYAM SALES
                    AGENCY</p>
                <p class="s2"
                    style="padding-left: 2pt;padding-right: 124pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                    Ankolwadi Gir Mandorana Road</p>
            </td>
            <td
                style="width:55pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Invoice No.
                </p>
                <p class="s1"
                    style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">16
                </p>
            </td>
            <td
                style="width:60pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s2" style="padding-top: 1pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">e-Way Bill
                    No.</p>
                <p class="s1" style="padding-left: 10pt;text-indent: 0pt;line-height: 11pt;text-align: left;">6417 2458
                    1822</p>
            </td>
            <td style="width:119pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p class="s3" style="padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Dated</p>
                <p class="s1" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">13-May-24</p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:115pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Delivery Note</p>
            </td>
            <td style="width:119pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p class="s3" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">Mode/Terms of Payment</p>
            </td>
        </tr>
        <tr style="height:8pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5" rowspan="2">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Ta-Talala Gir</p>
                <p class="s2" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Dist-Gir
                    Somnath-362150</p>
            </td>
            <td style="width:115pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:119pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:18pt">
            <td style="width:115pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Reference No. &amp; Date.</p>
            </td>
            <td style="width:119pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p class="s3" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">Other References</p>
            </td>
        </tr>
        <tr style="height:7pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5" rowspan="2">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">GSTIN/UIN: 24BCFPS2469K1Z7
                </p>
                <p class="s2"
                    style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">
                    State Name : Gujarat, Code : 24</p>
            </td>
            <td style="width:115pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:119pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:18pt">
            <td style="width:115pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Buyer’s Order No.</p>
            </td>
            <td style="width:119pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p class="s3" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">Dated</p>
            </td>
        </tr>
        <tr style="height:7pt">
            <td style="width:234pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5" rowspan="2">
                <p class="s3" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Consignee
                    (Ship to)</p>
                <p class="s1" style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Paresh
                    Construction and Foundation Pvt Ltd</p>
            </td>
            <td style="width:115pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:119pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:115pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Dispatch Doc No.</p>
            </td>
            <td style="width:119pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p class="s3" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">Delivery Note Date</p>
            </td>
        </tr>
        <tr style="height:3pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5" rowspan="2">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Navabandar</p>
                <p class="s2" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Ta-Una</p>
            </td>
            <td style="width:115pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:119pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td style="width:115pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2" rowspan="2">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Dispatched through</p>
            </td>
            <td style="width:119pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4" rowspan="2">
                <p class="s3" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">Destination</p>
            </td>
        </tr>
        <tr style="height:2pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5" rowspan="2">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Gir Somnath-362510</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Terms of
                    Delivery</p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td style="width:65pt;border-left-style:solid !important;border-left-width:1pt">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">GSTIN/UIN
                </p>
            </td>
            <td style="width:108pt">
                <p class="s2" style="padding-left: 12pt;text-indent: 0pt;line-height: 11pt;text-align: left;">:
                    24AAACP2726K1ZJ</p>
            </td>
            <td style="width:42pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:11pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:8pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td
                style="width:65pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">State Name
                </p>
            </td>
            <td style="width:108pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p class="s2" style="padding-left: 12pt;text-indent: 0pt;line-height: 11pt;text-align: left;">: Gujarat,
                    Code : 24</p>
            </td>
            <td style="width:42pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:11pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:8pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:15pt">
            <td style="width:234pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5">
                <p class="s3" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Buyer (Bill
                    to)</p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:15pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5">
                <p class="s1" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Paresh
                    Construction and Foundation Pvt Ltd</p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Gr.Flr,Dp/10/p/32,Manaka
                    Vaas, Navi</p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Sundarpuri,
                    Gandhidham,Kachchh-370201</p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td style="width:65pt;border-left-style:solid !important;border-left-width:1pt">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">GSTIN/UIN</p>
            </td>
            <td style="width:108pt">
                <p class="s2" style="padding-left: 12pt;text-indent: 0pt;text-align: left;">: 24AAACP2726K1ZJ</p>
            </td>
            <td style="width:42pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:11pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:8pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:65pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">State Name
                </p>
            </td>
            <td style="width:108pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p class="s2" style="padding-left: 12pt;text-indent: 0pt;line-height: 11pt;text-align: left;">: Gujarat,
                    Code : 24</p>
            </td>
            <td style="width:42pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:11pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:8pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:30pt">
            <td
                style="width:13pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s2"
                    style="padding-top: 2pt;padding-left: 2pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Sl
                    No.</p>
            </td>
            <td
                style="width:160pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 3pt;padding-left: 33pt;text-indent: 0pt;text-align: left;">Description
                    of Goods</p>
            </td>
            <td style="width:53pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-top: 3pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">HSN/SAC</p>
            </td>
            <td style="width:35pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-top: 3pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">GST</p>
                <p class="s3" style="padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Rate</p>
            </td>
            <td
                style="width:52pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 3pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">Quantity</p>
            </td>
            <td
                style="width:54pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 3pt;padding-left: 17pt;text-indent: 0pt;text-align: left;">Rate</p>
            </td>
            <td
                style="width:22pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3"
                    style="padding-top: 3pt;padding-left: 1pt;padding-right: 3pt;text-indent: 0pt;text-align: center;">
                    per</p>
            </td>
            <td style="width:79pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-top: 3pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">Amount</p>
            </td>
        </tr>
        <tr style="height:33pt">
            <td
                style="width:13pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s2" style="padding-top: 6pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">1</p>
            </td>
            <td style="width:126pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt"
                rowspan="3">
                <p class="s1" style="padding-top: 5pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">ACC Cement
                    Opc 53 Grade</p>
            </td>
            <td style="width:34pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                rowspan="3">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s4"
                    style="padding-left: 4pt;padding-right: 3pt;text-indent: 0pt;line-height: 112%;text-align: left;">
                    SGST CGST</p>
            </td>
            <td
                style="width:53pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 6pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">2523</p>
            </td>
            <td style="width:35pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-top: 6pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">28 %</p>
            </td>
            <td
                style="width:52pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s1" style="padding-top: 5pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">500 bag</p>
            </td>
            <td
                style="width:54pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 6pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">312.50</p>
            </td>
            <td
                style="width:22pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 6pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">bag</p>
            </td>
            <td style="width:79pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s1" style="padding-top: 5pt;padding-left: 18pt;text-indent: 0pt;text-align: left;">1,56,250.00
                </p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td
                style="width:13pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:53pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:35pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:52pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:54pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:22pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:79pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s1" style="padding-left: 27pt;text-indent: 0pt;text-align: left;">21,875.00</p>
            </td>
        </tr>
        <tr style="height:132pt">
            <td
                style="width:13pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:53pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:35pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:52pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:54pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:22pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:79pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s1" style="padding-left: 27pt;text-indent: 0pt;text-align: left;">21,875.00</p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td
                style="width:13pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:160pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Total</p>
            </td>
            <td style="width:53pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:35pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:52pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s1" style="padding-left: 11pt;text-indent: 0pt;text-align: left;">500 bag</p>
            </td>
            <td
                style="width:54pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:22pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:79pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s5"
                    style="padding-top: 2pt;padding-left: 1pt;text-indent: 0pt;line-height: 14pt;text-align: left;">₹
                    <b>2,00,000.00</b>
                </p>
            </td>
        </tr>
        <tr style="height:30pt">
            <td
                style="width:139pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Amount Chargeable (in words)
                </p>
                <p class="s1" style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">INR Two Lakh
                    Only</p>
            </td>
            <td
                style="width:34pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:42pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:11pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:8pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:55pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:60pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:18pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:22pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:18pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s7" style="padding-right: 7pt;text-indent: 0pt;text-align: right;">E. &amp; O.E</p>
            </td>
        </tr>
        <tr style="height:14pt">
            <td style="width:155pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2" rowspan="2">
                <p class="s3" style="padding-top: 1pt;padding-right: 7pt;text-indent: 0pt;text-align: center;">HSN/SAC
                </p>
            </td>
            <td style="width:60pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                rowspan="2">
                <p class="s3" style="padding-top: 1pt;padding-right: 15pt;text-indent: 0pt;text-align: right;">Taxable
                </p>
                <p class="s3" style="padding-top: 2pt;padding-right: 18pt;text-indent: 0pt;text-align: right;">Value</p>
            </td>
            <td style="width:98pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="4">
                <p class="s3" style="padding-top: 1pt;padding-right: 4pt;text-indent: 0pt;text-align: center;">CGST</p>
            </td>
            <td style="width:94pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="3">
                <p class="s3" style="padding-top: 1pt;padding-left: 17pt;text-indent: 0pt;text-align: left;">SGST/UTGST
                </p>
            </td>
            <td style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                rowspan="2">
                <p class="s3" style="padding-top: 1pt;padding-right: 2pt;text-indent: 0pt;text-align: center;">Total</p>
                <p class="s3" style="padding-top: 2pt;padding-right: 5pt;text-indent: 0pt;text-align: center;">Tax
                    Amount</p>
            </td>
        </tr>
        <tr style="height:14pt">
            <td style="width:37pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="3">
                <p class="s3" style="padding-left: 8pt;text-indent: 0pt;text-align: left;">Rate</p>
            </td>
            <td
                style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-left: 13pt;text-indent: 0pt;text-align: left;">Amount</p>
            </td>
            <td
                style="width:36pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Rate</p>
            </td>
            <td style="width:58pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 12pt;text-indent: 0pt;text-align: left;">Amount</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:155pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">2523</p>
            </td>
            <td
                style="width:60pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-left: 10pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                    1,56,250.00</p>
            </td>
            <td style="width:37pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="3">
                <p class="s3" style="padding-left: 16pt;text-indent: 0pt;line-height: 10pt;text-align: left;">14%</p>
            </td>
            <td
                style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-left: 16pt;text-indent: 0pt;line-height: 10pt;text-align: left;">21,875.00
                </p>
            </td>
            <td
                style="width:36pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-left: 14pt;text-indent: 0pt;line-height: 10pt;text-align: left;">14%</p>
            </td>
            <td style="width:58pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s3" style="padding-left: 15pt;text-indent: 0pt;line-height: 10pt;text-align: left;">21,875.00
                </p>
            </td>
            <td
                style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s3" style="padding-right: 6pt;text-indent: 0pt;line-height: 10pt;text-align: right;">43,750.00
                </p>
            </td>
        </tr>
        <tr style="height:14pt">
            <td style="width:155pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s8" style="padding-top: 1pt;padding-right: 1pt;text-indent: 0pt;text-align: right;">Total</p>
            </td>
            <td
                style="width:60pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s8" style="padding-top: 1pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">1,56,250.00
                </p>
            </td>
            <td style="width:37pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="3">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s8" style="padding-top: 1pt;padding-left: 16pt;text-indent: 0pt;text-align: left;">21,875.00
                </p>
            </td>
            <td
                style="width:36pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:58pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="2">
                <p class="s8" style="padding-top: 1pt;padding-left: 15pt;text-indent: 0pt;text-align: left;">21,875.00
                </p>
            </td>
            <td
                style="width:61pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt">
                <p class="s8" style="padding-top: 1pt;padding-right: 6pt;text-indent: 0pt;text-align: right;">43,750.00
                </p>
            </td>
        </tr>
        <tr style="height:18pt">
            <td style="width:468pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="11">
                <p class="s3"
                    style="padding-top: 5pt;padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Tax
                    Amount (in words) : <span class="s1">INR Forty Three Thousand Seven Hundred Fifty Only</span></p>
            </td>
        </tr>
        <tr style="height:43pt">
            <td style="width:234pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="5">
                <p class="s9" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Declaration
                </p>
                <p style="padding-left: 2pt;text-indent: 0pt;line-height: 1pt;text-align: left;" />
                <p class="s10"
                    style="padding-left: 2pt;padding-right: 26pt;text-indent: 0pt;line-height: 109%;text-align: left;">
                    We declare that this invoice shows the actual price of the goods described and that all particulars
                    are true and correct.</p>
            </td>
            <td style="width:234pt;border-top-style:solid !important;border-top-width:1pt;border-left-style:solid !important;border-left-width:1pt;border-bottom-style:solid !important;border-bottom-width:1pt;border-right-style:solid !important;border-right-width:1pt"
                colspan="6">
                <p class="s8" style="padding-left: 126pt;text-indent: 0pt;text-align: left;">for SHYAM SALES AGENCY</p>
                <p style="padding-top: 9pt;text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s3" style="padding-left: 153pt;text-indent: 0pt;text-align: left;">Authorised Signatory</p>
            </td>
        </tr>
    </table>
    <p style="padding-top: 7pt;padding-left: 158pt;text-indent: 0pt;text-align: left;">This is a Computer Generated
        Invoice</p>
</body>

</html>