{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div>
        <div class="">
            <center>
                <img src="http://127.0.0.1:8000/static/assets/images/logos/logo.png" width="100px">
            </center>
        </div>
        <div>
            <center>
                <h3>
                    <b>Bill Type</b>
                </h3>
            </center>

        </div>
        <table style="border: #000 solid 1px;">
            <tr>
                <th>
                    <div>
                        <h4><b>Farmer House</b></h4>
                    </div>
                    <div class=""></div>
                </th>
                <th></th>
            </tr>
        </table>
    </div>
</body>

</html>