<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tax Invoice</title>
		<style>
			table{
				border: 1px silid black;
				border-collapse: collapse;
			}
			tr,td{
				border: 1px silid black;
			}
		</style>
	</head>
	<body style="padding: 0px 100px;">
		<h2 style="text-align: center;">Tax Invoice</h2>
		<table border="2" width="100%">
			<tr>
				<td colspan="4" rowspan="4" width="50%">
					<h2>SHYAM SALES AGENCY</h2>
					<p>Ankolwadi Gir <br>
						Mandorana Road <br>
						Ta-Talala Gir <br>
						Dist-Gir Somnath-362150 <br>
						GSTIN/UIN: 24BCFPS2469K1Z7 <br>
						State Name : Gujarat, Code : 24</p>
				</td>
				<td colspan="2" width="25%">
					<div style="display: flex;justify-content: space-between;">
						<p>Invoice No.</p><p> e-Way Bill No.</p>
					</div>
					<div style="display: flex;justify-content: space-between;">
						<b>16</b> <b>6417 2458 1822</b>
					</div>
				</td>
				<td colspan="2" width="25%">
					<p>Dated</p>
					<p><b>13-May-24</b></p>
				</td>
			</tr>
			<tr>
				<td colspan="2" width="25%">
					<p>Delivery Note</p>
				</td>
				<td colspan="2" width="25%">
					<p>Mode/Terms of Payment</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" width="25%">
					<p>Reference No. &amp; Date.</p>
				</td>
				<td colspan="2" width="25%">
					<p>Other References</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" width="25%">
					<p>Buyer’s Order No.</p>
				</td>
				<td colspan="2" width="25%">
					<p>Dated</p>
				</td>
			</tr>
			<tr>
				<td colspan="4" rowspan="4" width="50%">
					<h2>SHYAM SALES AGENCY</h2>
					<p>Ankolwadi Gir <br>
						Mandorana Road <br>
						Ta-Talala Gir <br>
						Dist-Gir Somnath-362150 <br>
						GSTIN/UIN: 24BCFPS2469K1Z7 <br>
						State Name : Gujarat, Code : 24</p>
				</td>
				<td colspan="2" width="25%">
					<p>Dispatch Doc No.</p>
				</td>
				<td colspan="2" width="25%">
					<p>Delivery Note Date</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" width="25%">
					<p>Dispatched through</p>
				</td>
				<td colspan="2" width="25%">
					<p>Destination</p>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="border-bottom: none;">
					Terms of Delivery
				</td>
			</tr>
			<tr>
				<td colspan="4" style="border: none;">

				</td>
			</tr>
			<tr>
				<td colspan="4">
					<h2>SHYAM SALES AGENCY</h2>
					<p>Ankolwadi Gir <br>
						Mandorana Road <br>
						Ta-Talala Gir <br>
						Dist-Gir Somnath-362150 <br>
						GSTIN/UIN: 24BCFPS2469K1Z7 <br>
						State Name : Gujarat, Code : 24</p>
				</td>
			</tr>
			<tr>
				<td width="10%">Sl No.</td>
				<td width="30%">Description of Goods </td>
				<td width="10%">HSN/SAC </td>
				<td width="10%">GST <br> Rate</td>
				<td width="10%">Quantity</td>
				<td width="10%">Rate</td>
				<td width="10%">per</td>
				<td width="10%">Amount</td>
			</tr>
			<tr>
				<td width="10%" style="border-bottom:none;">1</td>
				<td width="30%" style="border-bottom:none;"><h3>ACC Cement Opc 53 Grade </h3></td>
				<td width="10%" style="border-bottom:none;">2523</td>
				<td width="10%" style="border-bottom:none;">28 %</td>
				<td width="10%" style="border-bottom:none;"><h3>500 bag</h3></td>
				<td width="10%" style="border-bottom:none;">312.50</td>
				<td width="10%" style="border-bottom:none;">bag</td>
				<td width="10%" style="border-bottom:none;"><h3>1,56,250.00</h3></td>
			</tr>
			<tr>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="30%" style="border-top:none;border-bottom:none;"><h3 style="text-align: end;">SGST</h3></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"><h3></h3></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"><h3>1,56,250.00</h3></td>
			</tr>
			<tr>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="30%" style="border-top:none;border-bottom:none;"><h3 style="text-align: end;">CGST</h3></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"><h3></h3></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"></td>
				<td width="10%" style="border-top:none;border-bottom:none;"><h3>1,56,250.00</h3></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td width="30%">Total</td>
				<td width="10%"></td>
				<td width="10%"></td>
				<td width="10%"><h3>500 bag</h3></td>
				<td width="10%"></td>
				<td width="10%"></td>
				<td width="10%"><h3>1,56,250.00</h3></td>
			</tr>
			<tr>
				<td colspan="8">
					<div style="display: flex;justify-content: space-between;">
						<p>Amount Chargeable (in words) </p>
						<p>E. &amp; O.E</p>
					</div>
					<div>
						<h3>INR Two Lakh Only</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td rowspan="2" colspan="2">
					<p style="text-align: center">HSN/SAC </p>
				</td>
				<td rowspan="2">
					<p style="text-align: center;">
						Taxable <br> Value
					</p>
				</td>
				<td colspan="2">
					<p>CGST</p>
				</td>
				<td colspan="2">
					<p>SGST/UTGST</p>
				</td>
				<td rowspan="2">
					<p style="text-align: center;">
						Total <br> Tax Amount
					</p>
				</td>
			</tr>
			<tr>
				<td>Rate</td>
				<td>Amount</td>
				<td>Rate</td>
				<td>Amount</td>
			</tr>
			<tr>
				<td colspan="2">2523</td>
				<td>1,56,250.00</td>
				<td>14%</td>
				<td>21,875.00</td>
				<td>14%</td>
				<td>21,875.00</td>
				<td>43,750.00</td>
			</tr>
			<tr>
				<td colspan="2"><h3 style="text-align: end;">Total</h3></td>
				<td><h3>1,56,250.00</h3></td>
				<td></td>
				<td><h3>21,875.00</h3></td>
				<td></td>
				<td><h3>21,875.00</h3></td>
				<td><h3>43,750.00</h3></td>
			</tr>
			<tr>
				<td colspan="8" style="border: none;">
					<p>Tax Amount (in words) : <b>INR Forty Three Thousand Seven Hundred Fifty Only</b></p>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="border: none;">
					<span style="border-bottom: 1px solid black;">Declaration</span>
					<p>
						We declare that this invoice shows the actual price of
						the goods described and that all particulars are true
						and correct.
					</p>
				</td>
				<td colspan="4">
				<h3 style="text-align: end">for SHYAM SALES AGENCY</h3>
				<p style="text-align: end;margin-top: 50px;">Authorised Signatory</p>
				</td>
			</tr>
		</table>
		<p style="text-align:center">This is a Computer Generated Invoice</p>
	</body>
</html>
