{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="row">
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="row justify-content-center">
        <div class="col-6 mt-1 mb=1 alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="col-12">
        <div class="card">
          <div class="px-4 py-3 border-bottom">
            <h4 class="card-title mb-0">Add Product</h4>
          </div>
          <form class="card-body p-4" method="post" id="formAdd">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-3">
                <div class="mb-4">
                  <label for="exampleInputProductName" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="exampleInputProductName" name="ProductName" placeholder="Party Name" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label class="form-label">Product Tax</label>
                  <select class="form-select" name="Tax" aria-label="Default select example" required>
                    <option selected>--select--</option>
                    <option value="5">5%</option>
                    <option value="12">12%</option>
                    <option value="18">18%</option>
                    <option value="28">28%</option>
                    <option value="TaxFree">Tax Free</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label class="form-label">Category</label>
                  <select class="form-select" name="Category" tabindex="1" required>
                    <option value="" selected>-- Selet --</option>
                    {% for i in Category %}
                    <option value="{{i.Category}}">{{i.Category}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label class="form-label">Product Unit</label>
                  <select class="form-select" name="Unit" aria-label="Default select example" required>
                    <option selected>--select--</option>
                    <option value="KG">KG</option>
                    <option value="GM">GM</option>
                    <option value="PC">PC</option>
                    <option value="LIT">LIT</option>
                    <option value="Box">Box</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label for="exampleInputMinQty" class="form-label">Min Qty</label>
                  <input type="number" class="form-control" id="exampleInputMinQty" name="MinQty" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label for="exampleInputMaxQty" class="form-label">Max Qty</label>
                  <input type="number" class="form-control" id="exampleInputMaxQty" name="MaxQty" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label for="exampleInputBarcode" class="form-label">Barcode No.</label>
                  <input type="text" class="form-control" id="exampleInputBarcode" name="Barcode" placeholder="Barcode No." required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label for="exampleInputBarcode" class="form-label">HSN Code</label>
                  <input type="text" class="form-control" id="exampleInputBarcode" name="HSNCode" placeholder="HSN Code" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-4">
                  <label for="exampleInputBarcode" class="form-label">MRP</label>
                  <input type="text" class="form-control" id="exampleInputBarcode" name="MRP" placeholder="MRP" required>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex justify-content-end gap-3">
                  <button class="btn btn-success" type="submit">Submit</button>
                  <a class="btn bg-danger-subtle text-danger" href="/Product">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
<script>
  $("#formAdd select[name='Category']").on('change', function(){
    var $this = $(this);
    if($this.val() !=''){
        $("#formAdd select[name='SubCategory']").find('.after').nextAll().remove();
        $.ajax({
            url: '/SCategory/'+$this.val(),
            type: 'GET',
            success: function(resp){
                let options = '';
                resp.Sc.forEach(Sc => {
                    options+='<option value='+Sc+'>'+Sc +'</option>';
                });
                $("#formAdd select[name='SubCategory']").find('.after').after(options);
            }, 
            error: function(resp){
                console.log('Something went wrong');
            }
        });
    }else{
        $("#formAdd select[name='SubCategory']").find('.after').nextAll().remove();
    }
   });
</script>
{% endblock script %}