{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="row justify-content-center">
        <div class="col-md-6 col-11 mt-1 mb=1 alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="px-4 py-3 border-bottom">
            <h4 class="card-title mb-0">Add Sales Entery</h4>
          </div>
          <form class="card-body p-4" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-2">
                <div class="mb-4">
                  <label class="form-label">Date</label>
                  <input type="date" class="form-control " name="Date" id="Date" required>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Delivery Boy Name</label>
                  <select class="form-select form-control-sm" id="exampleInputtype" name="DeliveryBoyName" tabindex="1"
                    required>
                    <option value="" selected>-- Selet --</option>
                    {% for i in DB %}
                    <option value="{{i.Name}}">{{i.Name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Type Of Business</label>
                  <select class="form-select form-control-sm" id="exampleInputtype" name="TypeOfBusiness" tabindex="1"
                    required>
                    <option value="" selected>-- Selet --</option>
                    <option value="B2B">B2B</option>
                    <option value="B2C">B2C</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputInvoiceNo" class="form-label">Invoice No.</label>
                  <input type="text" class="form-control " id="exampleInputInvoiceNo" name="InvoiceNo" value="{{Invoice}}" disabled>
                  <input type="hidden" name="ProductId" value="{{ProductId}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Terms</label>
                  <select class="form-select" id="exampleInputtype" name="Terms" tabindex="1" required>
                    <option value="" selected>-- Selet --</option>
                    <option value="Credit">Credit</option>
                    <option value="Debit">Debit</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Type of Payment</label>
                  <select class="form-select" id="exampleInputtype" name="TypeofPayment" tabindex="1" required>
                    <option value="" selected>-- Selet --</option>
                    <option value="Case">Case</option>
                    <option value="Credit">Credit</option>
                    <option value="Gpay">Gpay</option>
                    <option value="UPI">UPI</option>
                    <option value="Net banking">Net banking</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputBillno" class="form-label">Delivery Time</label>
                  <input type="time" class="form-control " id="exampleInputBillno" name="DeliveryTime" placeholder=""
                    required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row" id="Partyselect2">
                  <div class="col-9">
                    <label for="exampleInputtype" class="form-label">Party Name</label>
                    <div class="mb-4">
                      <select class="select2 form-control custom-select" name="PartyName" required>
                        <option class="after3">Select</option>
                        <optgroup label="">
                          {% for i in Party %}
                          {% if i.Type == 'Customer' or i.Type == 'Hotel & Restaurant' %}
                          <option value="{{i.PartyName}}">{{i.PartyName}} ( {{i.Number}} )</option>
                          {% endif %}
                          {% endfor %}
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="col-1 d-flex align-items-center"><a class="btn btn-success btn-lg" data-bs-toggle="modal"
                    data-bs-target="#AddParty"><i class='ti ti-plus'></i></a></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2 row" id="Prodectselect2">
                  <div class="col-md-4">
                    <div class="mb-4">
                      <label for="exampleInputtype" class="form-label">Product Name</label>
                    <select class="select form-control" name="Product">
                      <option>Product Name</option>
                      {% for i in productns %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                    </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-4">
                      <label for="exampleInputtype" class="form-label">Product List</label>
                    <select class="select form-control" name="Product2">
                      <option class="after" value="">Products</option>
                    </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 table-responsive p-1">
                <table class="table table-striped table-bordered display text-nowrap" id="thad">
                  <thead>
                    <tr class="p-0">
                      <th class="p-2">Prodect <br> Name</th>
                      <th class="p-2">Quantity</th>
                      <th class="p-2">Purchase <br>Inc. <br> Tax Price</th>
                      <th class="p-2">Profit <br> Margin <br>( % )</th>
                      <th class="p-2">Basic Sales <br> Price <br> ( Per. Unit )</th>
                      <th class="p-2">Discount <br> ( % )</th>
                      <th class="p-2">Sales price <br> After Discount <br> ( Per. Unit )</th>
                      <th class="p-2">Tax <br> ( % )</th>
                      <th class="p-2">Inc. <br> Sales <br> Price</th>
                      <th class="p-2">Total Sales</th>
                      <th class="p-2">MRP</th>
                      <th class="p-2"></th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    {% for i in stock %}
                    <tr>
                      <td class="p-2">
                        <div class="mt-2">{{i.ProductName}}</div>
                      </td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="Quantity"
                          id="Quantity{{i.id}}" onkeydown="onstocks('Quantity','{{i.id}}');"
                          onkeyup="onstocks('Quantity','{{i.id}}');" value="{{i.Quantity}}"></td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="PurchaseIncTax"
                          id="PurchaseIncTax{{i.id}}" value="{{i.PurchaseIncTax}}" disabled></td>
                      <td class="p-2"><input type="text" class="form-control text-center" id="ProfitMargin{{i.id}}"
                          onkeydown="onstocks('ProfitMargin','{{i.id}}');"
                          onkeyup="onstocks('ProfitMargin','{{i.id}}');" value="{{i.ProfitMargin}}"></td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="BasicSalesPrice"
                          id="BasicSalesPrice{{i.id}}" value="{{i.BasicSalesPrice}}" disabled></td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="Discount"
                          id="Discount{{i.id}}" onkeydown="onstocks('Discount','{{i.id}}');"
                          onkeyup="onstocks('Discount','{{i.id}}');" value="{{i.Discount}}"></td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="SalesPriceAfterDiscount"
                          id="SalesPriceAfterDiscount{{i.id}}" value="{{i.SalesPriceAfterDiscount}}" disabled></td>
                      <td class="p-2">
                        <div class="mt-2">{{i.Tax}}</div>
                      </td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="IncSalesPrice"
                          id="IncSalesPrice{{i.id}}" value="{{i.IncSalesPrice}}" disabled></td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="TotalSales"
                          id="TotalSales{{i.id}}" value="{{i.TotalSales}}"></td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="Amount"
                          id="Amount{{i.id}}" value="{{i.Amount}}" disabled></td>
                      <td class="p-2">
                        <div class="mt-1"><a type='button' class='btn btn-danger bg-danger btn-del ms-2'
                            data-sid='{{i.id}}'><i class='ti ti-trash'></i></a></div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tbody class="bg-white">
                    <tr class="bg-white">
                      <td class="p-2" colspan="12" class="bg-white"><span>
                          <center><b id="mes" class="text-danger"></b></center>
                        </span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="p-2" colspan="9">
                        Total Amount :
                      </th>
                      <th class="p-2" colspan="3">
                        <span id="tamount2">{{tamonut}}</span>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row" id="Chargesselect2">
                      <div class="col-9 mb-4">
                        <label class="form-label">Charges</label>
                        <select class="select form-control" name="Charges">
                          <option class="after">Charges</option>
                          {% for i in Charges %}
                          <option value="{{i.id}}">{{i.Charges}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-1 d-flex align-items-center"><a data-bs-toggle="modal"
                        data-bs-target="#AddCharges" class=" btn btn-success btn-lg"><i class='ti ti-plus'></i></a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 table-responsive p-1">
                <table class="table table-striped table-bordered display text-nowrap" id="thad">
                  <thead>
                    <tr>
                      <th class="p-2">Charge Name</th>
                      <th class="p-2">Amount</th>
                      <th class="p-2">Tax</th>
                      <th class="p-2">Total Amount</th>
                      <th class="p-2"></th>
                    </tr>
                  </thead>
                  <tbody id="tbody2">
                    {% for i in ChargesList %}
                    <tr>
                      <td class="mt-5 p-2">{{ i.Charges }}</td>
                      <td class="p-2"><input type="text" class="form-control text-center" name="Amount" id="Amount{{i.id}}" onkeydown="onCharges('Amount','{{i.id}}');"
                        onkeyup="onCharges('Amount','{{i.id}}');" value="{{i.Amount}}"></td>
                      <td class="p-2"><select class="form-select" name="Tax" onchange="onCharges('Tax','{{i.id}}');" id="Tax{{i.id}}" aria-label="Default select example" required>
                        <option selected>--select--</option>
                        <option value="5" {% if i.Tax == '5' %} selected {% endif %}>5%</option>
                        <option value="12" {% if i.Tax == '12' %} selected {% endif %}>12%</option>
                        <option value="18" {% if i.Tax == '18' %} selected {% endif %}>18%</option>
                        <option value="28" {% if i.Tax == '28' %} selected {% endif %}>28%</option>
                        <option value="TaxFree" {% if i.Tax == 'TaxFree' %} selected {% endif %}>Tax Free</option>
                      </select></td>
                      <td class="p-2"><input type="text" class="form-control text-center " name="TotalAmount" id="TotalAmount{{i.id}}"
                          value="{{i.TotalAmount}}"></td>
                      <td class="p-2">
                        <a type='button' class='btn btn-danger bg-danger btn-delete ms-2' data-sid='{{i.id}}'><i
                            class='ti ti-trash'></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="p-2" colspan="3">
                        Total Amount :
                      </th>
                      <th class="p-2" colspan="2">
                        <span id="tamount3">{{TCA}}</span>
                      </th>
                    </tr>
                    <tr>
                      <th class="p-2" colspan="3">
                        Total Bill Amount :
                      </th>
                      <th class="p-2" colspan="2">
                        <span id="tamount4">{{TBA}}</span>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="col-12">
                <div class="gap-3">
                  <button class="btn btn-success" type="submit">Save</button>
                  <button class="btn btn-success" type="submit">Save & Print</button>
                  <a class="btn bg-danger-subtle text-danger" href="/SalesCancel/{{ProductId}}">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="AddParty" tabindex="-1" aria-labelledby="vertical-center-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" id="AddPartyF">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title" id="myLargeModalLabel">Add Party</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputtype" class="form-label">Type Of Party</label>
              <select class="form-select form-control-sm" id="exampleInputtype" name="Type" tabindex="1" required>
                <option value="" selected>-- Selet --</option>
                <option value="Hotel & Restaurant">Hotel & Restaurant</option>
                <option value="Customer">Customer</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputPartyName" class="form-label">Party Name</label>
              <input type="text" class="form-control" id="exampleInputPartyName" name="PartyName"
                placeholder="Party Name" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputnumber" class="form-label">Phone Namber</label>
              <input type="text" class="form-control" id="exampleInputnumber" name="Number" placeholder="1234567890"
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputGSTNo" class="form-label">GST No.</label>
              <input type="text" class="form-control" id="exampleInputGSTNo" name="GSTNo" placeholder="GST No."
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputGmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputGmail" name="Email" placeholder="xyz@gmail.com"
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputcity" class="form-label">City</label>
              <select id="inputState" class="form-select" name="City" required>
                <option selected>Choose...</option>
                {% include "city.html" %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="form-label">Address</label>
              <textarea class="form-control p-7" name="Address" rows="1" placeholder="" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit">Submit</button>
        <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="AddCharges" tabindex="-1" aria-labelledby="AddCharges" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" id="AddChargesF">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">
          Add Charges
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <div class="col-12">
          <div class="mb-4">
            <label class="form-label">Charges Name</label>
            <input type="text" class="form-control" name="ACharges" id="ACharges" placeholder="Charges Name" required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn bg-success-subtle text-success  waves-effect text-start">
          Submit
        </button>
        <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start" data-bs-dismiss="modal">
          Close
        </button>
        <a href="/gvisb bbb" class="btn btn-danger">test</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
<script>
  function Amount(){
  var TA = document.getElementById('tamount2').innerText;
  var TCA = document.getElementById('tamount3').innerText;
  console.log(TA,TCA);
  var TBA = parseFloat(TA) + parseFloat(TCA)
  var tamount2 = document.getElementById("tamount4");
      tamount2.innerText = TBA;}

  setInterval(Amount,500);

  DF = new Date()
  document.getElementById("Date").value = DF.toJSON().slice(0, 10);

  $("#Prodectselect2 select[name='Product']").on('change', function () {
    var $this = $(this);
    if ($this.val() != '') {
      $("#Prodectselect2 select[name='Product2']").find('.after').nextAll().remove();
      $.ajax({
        url: '/StockDetails/' + $this.val(),
        type: 'GET',
        success: function (resp) {
          x = resp.Ms
          output = ''
          for (i = 0; i < x.length; i++) {
            output += "<option value=";
            pn = x[i].ProductName;
            pn = pn.replace(' ','%20');
            output += pn;
            output += "/";
            output += x[i].OldProductId + "/" + x[i].id + '>' + "Price: " + x[i].PurchaseIncTax + "  Quantity :" + x[i].Quantity + '</option>';
          };
          $("#Prodectselect2 select[name='Product2']").find('.after').after(output);
        },
        error: function (resp) {
          console.log('Something went wrong');
        }
      });
    } else {
      $("#Prodectselect2 select[name='Product2']").find('.after').nextAll().remove();
    }
  });
  $("#Prodectselect2 select[name='Product2']").on('change', function () {
    var $Productname = $(this);
    var $Productid = $("input[name='Productid']").val();
    if ($Productname.val() != '') {
      $.ajax({
        url: '/Stockswork/' + $Productname.val() + '/Sales',
        type: 'GET',
        success: function (resp) {
          x = resp.Sc
          output = ''
          for (i = 0; i < x.length; i++) {
            output += "<tr><td class='p-2'><div class='mt-2'>" + x[i].ProductName + "</div></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='Quantity' id='Quantity" + x[i].id + "' onkeydown=onstocks('Quantity','" + x[i].id + "'); onkeyup=onstocks('Quantity','" + x[i].id + "'); value='" + x[i].Quantity + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='PurchaseIncTax' id='PurchaseIncTax" + x[i].id + "' value='" + x[i].PurchaseIncTax + "' disabled></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' id='ProfitMargin" + x[i].id + "' onkeydown=onstocks('ProfitMargin','" + x[i].id + "'); onkeyup=onstocks('ProfitMargin','" + x[i].id + "'); value='" + x[i].ProfitMargin + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='BasicSalesPrice' id='BasicSalesPrice" + x[i].id + "'  value='" + x[i].BasicSalesPrice + "' disabled></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='Discount' id='Discount" + x[i].id + "' onkeydown=onstocks('Discount','" + x[i].id + "'); onkeyup=onstocks('Discount','" + x[i].id + "'); value='" + x[i].Discount + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='SalesPriceAfterDiscount' id='SalesPriceAfterDiscount" + x[i].id + "' value='" + x[i].SalesPriceAfterDiscount + "' disabled></td>";
            output += "<td class='p-2'><div class='mt-2'>" + x[i].Tax + "</div></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='IncSalesPrice' id='IncSalesPrice" + x[i].id + "' value='" + x[i].IncSalesPrice + "' disabled></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='TotalSales' id='TotalSales" + x[i].id + "' value='" + x[i].TotalSales + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='Amount' id='Amount" + x[i].id + "' value='" + x[i].Amount + "' disabled></td>";
            output += "<td class='p-2'><div class='mt-1'><a type='button' class='btn btn-danger bg-danger btn-del ms-2' data-sid='" + x[i].id + "'><i class='ti ti-trash'></i></a></div></td></tr>";
          };
          $('#tbody').html(output);
          var tamount2 = document.getElementById("tamount2");
          tamount2.innerText = resp.tamonut;
          var tamount3 = document.getElementById("mes");
          tamount3.innerText = '';
        },
        error: function (resp) {
          console.log('Something went wrong');
        }
      });
    } else {
      console.log('Something went wrong');
    }
  });
  function onstocks(name, id) {
    let val = '#' + name + id;
    let va = $(val).val();
    mydata = { name: name, id: id, val: va, type: 'Sales' };
    $.ajax({
      type: "POST",
      url: '/ProductE2',
      data: mydata,
      success: function (resp) {
        if (resp.msg) {
          var tamount2 = document.getElementById("mes");
          tamount2.innerText = resp.msg;
        }
        else {
          x = resp.Sc;
          for (i = 0; i < x.length; i++) {
            var $PIT = $('#BasicSalesPrice' + x[i].id);
            $PIT.val(x[i].BasicSalesPrice);
            var $PIT2 = $('#SalesPriceAfterDiscount' + x[i].id);
            $PIT2.val(x[i].SalesPriceAfterDiscount);
            var $PIT3 = $('#IncSalesPrice' + x[i].id);
            $PIT3.val(x[i].IncSalesPrice);
            var $PIT3 = $('#TotalSales' + x[i].id);
            $PIT3.val(x[i].TotalSales);
          }
          var $tamount2 = document.getElementById("tamount2");
          $tamount2.innerText = resp.rt;
          var tamount2 = document.getElementById("mes");
          tamount2.innerText = '';
        };
      },
      error: function (resp) {
        console.log('Something went wrong');
      }
    });
  }
  // delete data
  $("tbody").on('click', '.btn-del', function () {
    // console.log('delete btn clicked');
    let id = $(this).attr('data-sid');
    // console.log(id);
    mydata = { sid: id, type: 'Sales' };
    mythis = this;
    $.ajax({
      type: "POST",
      url: '/StockPDelete',
      data: mydata,
      success: function (data) {
        if (data.status == 1) {
          $(mythis).closest("tr").fadeOut();
        }
        var tamount2 = document.getElementById("tamount2");
        tamount2.innerText = data.tamonut;
        var tamount3 = document.getElementById("mes");
        tamount3.innerText = '';
      }
    });
  });
  $("#Chargesselect2 select[name='Charges']").on('change', function () {
    var ChargesID = $(this).val();
    mydata = { ChargesID :ChargesID ,type: 'Sales'};
    $.ajax({
      type: "POST",
      url: '/CreateCharges',
      data: mydata,
      success: function (resp) {
        x = resp.Sc
          output = ''
          for (i = 0; i < x.length; i++) {
            output += "<tr><td class='mt-5 p-2'>"+ x[i].Charges + "</td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='Amount' id='Amount"+ x[i].id +"' onkeydown=onCharges('Amount','"+ x[i].id +"'); onkeyup=onCharges('Amount','"+ x[i].id +"'); value='"+x[i].Amount+"'></td>";
            output += "<td class='p-2'><select class='form-select' name='Tax' onchange=onCharges('Tax','"+ x[i].id +"'); id='Tax"+ x[i].id +"' aria-label='Default select example' required>";
            if(x[i].Tax == ''){output += "<option selected>--select--</option>";}
            else{output += "<option selected>"+x[i].Tax+"%</option>";}
            output += "<option value='5'>5%</option>";
            output += "<option value='12'>12%</option>";
            output += "<option value='18'>18%</option>";
            output += "<option value='28'>28%</option>";
            output += "<option value='TaxFree'>Tax Free</option></select></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center ' name='TotalAmount' id='TotalAmount"+ x[i].id +"' value='"+x[i].TotalAmount+"'></td>";
            output += "<td class='p-2'><a type='button' class='btn btn-danger bg-danger btn-delete ms-2' data-sid='"+ x[i].id +"'><i class='ti ti-trash'></i></a></td></tr>";
            };
          $('#tbody2').html(output);
          var tamount2 = document.getElementById("tamount3");
          tamount2.innerText = resp.tamonut;
      }
    });
  });
  $("#tbody2").on('click', '.btn-delete', function () {
    let id = $(this).attr('data-sid');
    mydata = { sid: id, type: 'Sales' };
    mythis = this;
    $.ajax({
      type: "POST",
      url: '/ChargesDelete',
      data: mydata,
      success: function (data) {
        if (data.status == 1) {
          $(mythis).closest("tr").fadeOut();
        }
        var tamount2 = document.getElementById("tamount3");
        tamount2.innerText = data.tamonut;
      }
    });
  });
  function onCharges(name, id) {
    let val = '#' + name + id;
    let va = $(val).val();
    mydata = { name: name, id: id, val: va, type: 'Sales' };
    $.ajax({
      type: "POST",
      url: '/CharegesEdit',
      data: mydata,
      success: function (resp) {
        x = resp.Sc;
        let value = 0;
        for (i = 0; i < x.length; i++) {
          var $PIT = $('#TotalAmount' + x[i].id);
          $PIT.val(x[i].TotalAmount);
        var $tamount2 = document.getElementById("tamount3");
        $tamount2.innerText = resp.rt;
        var tamount4 = document.getElementById("mes");
        tamount4.innerText = '';
        };
      },
      error: function (resp) {
        console.log('Something went wrong');
      }
    });
  }
  $("#AddChargesF").submit(function (e) {
    e.preventDefault();
    var Cr = $("#ACharges");
    Cr = Cr.val();
    mydata = { 'Charge': Cr };
    $("#Chargesselect2 select[name='Charges']").find('.after').nextAll().remove();
    $.ajax({
      type: "POST",
      url: '/Link/Charges',
      data: mydata,
      success: function (dt) {
        x = dt.ld
        output = ''
        for (i = 0; i < x.length; i++) {
          output += "<option value=" + x[i].id + ">" + x[i].Charges + "</option>";
        };
        $("#Chargesselect2 select[name='Charges']").find('.after').after(output);
        var ACharges = $('#ACharges');
        ACharges.val('');
        $('#AddCharges').modal('hide');
      },
      error: function () {
        console.log('Something went wrong');
      }
    });
  });
  $("#AddPartyF").submit(function (e) {
    e.preventDefault();
    var form = $(this);
    dt = form.serialize();
    $("#Partyselect2 select[name='PartyName']").find('.after3').nextAll().remove();
    $.ajax({
      type: "POST",
      url: '/Link/Party',
      data: dt,
      success: function (data) {
        if(data.ld != 0){
          x = data.ld
          output = ''
          for (i = 0; i < x.length; i++){
            if(x[i].Type == 'Customer' || x[i].Type == 'Hotel & Restaurant'){
              output += "<option value="+x[i].PartyName+">" + x[i].PartyName +' '+x[i].Number+"</option>";
            }
          };
          $("#Partyselect2 select[name='PartyName']").find('.after3').after(output);
          $('#AddPartyF').trigger("reset");
          $('#AddParty').modal('hide');
        }
        else{
          if(data.NUM){
            alert(data.NUM)
          }
          else{
            alert(data.EM)
          }
          
        }
        
      }
    });
  });
</script>
{% endblock script %}
