{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="row">
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="row justify-content-center">
        <div class="col-md-6 mt-1 mb=1 alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="col-12">
        <div class="card">
          <div class="px-4 py-3 border-bottom">
            <h4 class="card-title mb-0">Add Sales Return Entery</h4>
          </div>
          <form class="card-body p-4" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-2">
                <div class="mb-4">
                  <label class="form-label">Date</label>
                  <input type="date" class="form-control " name="Date" id="Date" required>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Delivery Boy Name</label>
                  <select class="form-select form-control-sm" id="exampleInputtype" name="DeliveryBoyName" tabindex="1"
                    required>
                    <option value="" selected>-- Selet --</option>
                    {% for i in DB %}
                    <option value="{{i.Name}}">{{i.Name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Type Of Business</label>
                  <select class="form-select form-control-sm" id="exampleInputtype" name="TypeOfBusiness" tabindex="1"
                    required>
                    <option value="" selected>-- Selet --</option>
                    <option value="B2B">B2B</option>
                    <option value="B2C">B2C</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputInvoiceNo" class="form-label">Invoice No.</label>
                  <input type="text" class="form-control " id="exampleInputInvoiceNo" name="InvoiceNo"
                    value="{{Invoice}}" disabled>
                  <input type="hidden" name="ProductId" value="{{ProductId}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Terms</label>
                  <select class="form-select" id="exampleInputtype" name="Terms" tabindex="1" required>
                    <option value="" selected>-- Selet --</option>
                    <option value="Credit">Credit</option>
                    <option value="Debit">Debit</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputtype" class="form-label">Type of Payment</label>
                  <select class="form-select" id="exampleInputtype" name="TypeofPayment" tabindex="1" required>
                    <option value="" selected>-- Selet --</option>
                    <option value="Case">Case</option>
                    <option value="Credit">Credit</option>
                    <option value="Gpay">Gpay</option>
                    <option value="UPI">UPI</option>
                    <option value="Net banking">Net banking</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-4">
                  <label for="exampleInputBillno" class="form-label">Delivery Time</label>
                  <input type="time" class="form-control " id="exampleInputBillno" name="DeliveryTime" placeholder=""
                    required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-9">
                    <label for="exampleInputtype" class="form-label">Party Name</label>
                    <div class="mb-4">
                      <select class="select2 form-control  custom-select" name="PartyName" required>
                        <option class="after3">Select</option>
                        <optgroup label="">
                          {% for i in Party %}
                          {% if i.Type == 'Customer' or i.Type == 'Hotel & Restaurant' %}
                          <option value="{{i.PartyName}}">{{i.PartyName}} ({{i.Number}})</option>
                          {% endif %}
                          {% endfor %}
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="col-1 d-flex align-items-center"><a data-bs-toggle="modal" data-bs-target="#AddParty"
                      class="btn btn-success btn-lg"><i class='ti ti-plus'></i></a></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-2 row" id="Prodectselect2">
                  <div class="col-9">
                    <label class="form-label">Product Name</label>
                    <select class="select form-control" name="Product2">
                      <option class="after2">Product Name</option>
                      {% for i in Product %}
                      <option value="{{i.ProductName}}/{{i.id}}">{{i.ProductName}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-1 d-flex align-items-center"><a class="btn btn-success btn-lg mt-3"
                      data-bs-toggle="modal" data-bs-target="#AddProduct"><i class='ti ti-plus'></i></a></div>
                </div>
              </div>
            </div>
            <div class="col-12 table-responsive p-1">
              <table class="table table-striped table-bordered display text-nowrap" id="thad">
                <thead>
                  <tr class="p-0">
                    <th class="p-2">Prodect <br> Name</th>
                    <th class="p-2">Quantity</th>
                    <th class="p-2">Purchase <br>Inc. <br> Tax Price</th>
                    <th class="p-2">Profit <br> Margin <br>( % )</th>
                    <th class="p-2">Basic Sales <br> Price <br> ( Per. Unit )</th>
                    <th class="p-2">Discount <br> ( % )</th>
                    <th class="p-2">Sales price <br> After Discount <br> ( Per. Unit )</th>
                    <th class="p-2">Tax <br> ( % )</th>
                    <th class="p-2">Inc. Sales <br> Price</th>
                    <th class="p-2">Total Sales</th>
                    <!-- <th class="p-2">MRP</th> -->
                    <th></th>
                  </tr>
                </thead>
                <tbody id="tbody">
                  {% for i in stock %}
                  <tr>
                    <td class="p-2">
                      <div class="mt-2">{{i.ProductName}}</div>
                    </td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="Quantity"
                        id="Quantity{{i.id}}" onkeydown="onstocks('Quantity','{{i.id}}');"
                        onkeyup="onstocks('Quantity','{{i.id}}');" value="{{i.Quantity}}"></td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="PurchaseIncTax"
                        id="PurchaseIncTax{{i.id}}" onkeydown="onstocks('PurchaseIncTax','{{i.id}}');"
                        onkeyup="onstocks('PurchaseIncTax','{{i.id}}');" value="{{i.PurchaseIncTax}}"></td>
                    <td class="p-2"><input type="text" class="form-control text-center" id="ProfitMargin{{i.id}}"
                        onkeydown="onstocks('ProfitMargin','{{i.id}}');" onkeyup="onstocks('ProfitMargin','{{i.id}}');"
                        value="{{i.ProfitMargin}}"></td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="BasicSalesPrice"
                        id="BasicSalesPrice{{i.id}}" value="{{i.BasicSalesPrice}}" disabled></td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="Discount"
                        id="Discount{{i.id}}" onkeydown="onstocks('Discount','{{i.id}}');"
                        onkeyup="onstocks('Discount','{{i.id}}');" value="{{i.Discount}}"></td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="SalesPriceAfterDiscount"
                        id="SalesPriceAfterDiscount{{i.id}}" value="{{i.SalesPriceAfterDiscount}}" disabled></td>
                    <td class="p-2">
                      <div class="mt-2">{{i.Tax}}</div>
                    </td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="IncSalesPrice"
                        id="IncSalesPrice{{i.id}}" value="{{i.IncSalesPrice}}" disabled></td>
                    <td class="p-2"><input type="text" class="form-control text-center" name="TotalSales"
                        id="TotalSales{{i.id}}" value="{{i.TotalSales}}"></td>
                    <!-- <td class="p-2"><input type="text" class="form-control text-center" name="Amount"
                          id="Amount{{i.id}}" onkeydown="onstocks('Amount','{{i.id}}');"
                          onkeyup="onstocks('Amount','{{i.id}}');" value="{{i.Amount}}"></td> -->
                    <td class="p-2">
                      <div class="mt-1"><a type='button' class='btn btn-danger bg-danger btn-del ms-2'
                          data-sid='{{i.id}}'><i class='ti ti-trash'></i></a></div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tbody class="bg-white">
                  <tr class="bg-white">
                    <td colspan="12" class="bg-white"><span>
                        <center><b id="mes" class="text-danger"></b></center>
                      </span></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="9">
                      Total Amount :
                    </th>
                    <th colspan="3">
                      <span id="tamount2">{{tamonut}}</span>
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="col-12">
              <div class="gap-3">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-success" type="submit">Save & Print</button>
                <a class="btn bg-danger-subtle text-danger" href="/SRCancel/{{ProductId}}">Cancel</a>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="AddParty" tabindex="-1" aria-labelledby="vertical-center-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" id="AddPartyF">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title" id="myLargeModalLabel">Add Party</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputtype" class="form-label">Type Of Party</label>
              <select class="form-select form-control-sm" id="exampleInputtype" name="Type" tabindex="1" required>
                <option value="" selected>-- Selet --</option>
                <option value="Hotel & Restaurant">Hotel & Restaurant</option>
                <option value="Customer">Customer</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputPartyName" class="form-label">Party Name</label>
              <input type="text" class="form-control" id="exampleInputPartyName" name="PartyName"
                placeholder="Party Name" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputnumber" class="form-label">Phone Namber</label>
              <input type="text" class="form-control" id="exampleInputnumber" name="Number" placeholder="1234567890"
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputGSTNo" class="form-label">GST No.</label>
              <input type="text" class="form-control" id="exampleInputGSTNo" name="GSTNo" placeholder="GST No."
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputGmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputGmail" name="Email" placeholder="xyz@gmail.com"
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputcity" class="form-label">City</label>
              <select id="inputState" class="form-select" name="City" required>
                <option selected>Choose...</option>
                {% include "city.html" %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="form-label">Address</label>
              <textarea class="form-control p-7" name="Address" rows="1" placeholder="" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit">Submit</button>
        <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="AddProduct" tabindex="-1" aria-labelledby="vertical-center-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" id="AddProductF">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title" id="myLargeModalLabel">
          Add Product
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputProductName" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="exampleInputProductName" name="ProductName"
                placeholder="Party Name" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label class="form-label">Product Tax</label>
              <select class="form-select" name="Tax" aria-label="Default select example" required>
                <option selected>--select--</option>
                <option value="5">5%</option>
                <option value="12">12%</option>
                <option value="18">18%</option>
                <option value="28">28%</option>
                <option value="TaxFree">Tax Free</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label class="form-label">Category</label>
              <select class="form-select" name="Category" tabindex="1" required>
                <option value="" selected>-- Selet --</option>
                {% for i in Category %}
                <option value="{{i.Category}}">{{i.Category}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label class="form-label">Product Unit</label>
              <select class="form-select" name="Unit" aria-label="Default select example" required>
                <option selected>--select--</option>
                <option value="KG">KG</option>
                <option value="GM">GM</option>
                <option value="PC">PC</option>
                <option value="LIT">LIT</option>
                <option value="Box">Box</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputMinQty" class="form-label">Min Qty</label>
              <input type="number" class="form-control" id="exampleInputMinQty" name="MinQty" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputMaxQty" class="form-label">Max Qty</label>
              <input type="number" class="form-control" id="exampleInputMaxQty" name="MaxQty" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputBarcode" class="form-label">Barcode No.</label>
              <input type="text" class="form-control" id="exampleInputBarcode" name="Barcode" placeholder="Barcode No."
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputBarcode" class="form-label">HSN Code</label>
              <input type="text" class="form-control" id="exampleInputBarcode" name="HSNCode" placeholder="HSN Code"
                required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <label for="exampleInputBarcode" class="form-label">MRP</label>
              <input type="text" class="form-control" id="exampleInputBarcode" name="MRP" placeholder="MRP" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <label class="form-label">Manufacturing Date</label>
              <input type="date" class="form-control " name="MFGDate" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <label class="form-label">Expiry Date</label>
              <input type="date" class="form-control " name="ExpiryDate" required>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit">Submit</button>
        <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
<script>
  DF = new Date()
  document.getElementById("Date").value = DF.toJSON().slice(0, 10);

  $("#Prodectselect2 select[name='Product2']").on('change', function () {
    var $Productname = $(this);
    var $Productid = $("input[name='Productid']").val();
    if ($Productname.val() != '') {
      $.ajax({
        url: '/SRStocks/' + $Productname.val() + '/SalesReturn',
        type: 'GET',
        success: function (resp) {
          x = resp.Sc
          output = ''
          for (i = 0; i < x.length; i++) {
            output += "<tr><td class='p-2'><div class='mt-2'>" + x[i].ProductName + "</div></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='Quantity' id='Quantity" + x[i].id + "' onkeydown=onstocks('Quantity','" + x[i].id + "'); onkeyup=onstocks('Quantity','" + x[i].id + "'); value='" + x[i].Quantity + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='PurchaseIncTax' id='PurchaseIncTax" + x[i].id + "'onkeydown=onstocks('PurchaseIncTax','" + x[i].id + "'); onkeyup=onstocks('PurchaseIncTax','" + x[i].id + "'); value='" + x[i].PurchaseIncTax + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' id='ProfitMargin" + x[i].id + "' onkeydown=onstocks('ProfitMargin','" + x[i].id + "'); onkeyup=onstocks('ProfitMargin','" + x[i].id + "'); value='" + x[i].ProfitMargin + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='BasicSalesPrice' id='BasicSalesPrice" + x[i].id + "'  value='" + x[i].BasicSalesPrice + "' disabled></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='Discount' id='Discount" + x[i].id + "' onkeydown=onstocks('Discount','" + x[i].id + "'); onkeyup=onstocks('Discount','" + x[i].id + "'); value='" + x[i].Discount + "'></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='SalesPriceAfterDiscount' id='SalesPriceAfterDiscount" + x[i].id + "' value='" + x[i].SalesPriceAfterDiscount + "' disabled></td>";
            output += "<td class='p-2'><div class='mt-2'>" + x[i].Tax + "</div></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='IncSalesPrice' id='IncSalesPrice" + x[i].id + "' value='" + x[i].IncSalesPrice + "' disabled></td>";
            output += "<td class='p-2'><input type='text' class='form-control text-center' name='TotalSales' id='TotalSales" + x[i].id + "' value='" + x[i].TotalSales + "'></td>";
            // output += "<td class='p-2'><input type='text' class='form-control text-center' name='Amount' id='Amount" + x[i].id + "' onkeydown=onstocks('Amount','" + x[i].id + "'); onkeyup=onstocks('Amount','" + x[i].id + "'); value='" + x[i].Amount + "'></td>";
            output += "<td class='p-2'><div class='mt-1'><a type='button' class='btn btn-danger bg-danger btn-del ms-2' data-sid='" + x[i].id + "'><i class='ti ti-trash'></i></a></div></td></tr>";
          };
          $('#tbody').html(output);
          var tamount2 = document.getElementById("tamount2");
          tamount2.innerText = resp.tamonut;
          var tamount3 = document.getElementById("mes");
          tamount3.innerText = '';
        },
        error: function (resp) {
          console.log('Something went wrong');
        }
      });
    } else {
      console.log('Something went wrong');
    }
  });
  function onstocks(name, id) {
    let val = '#' + name + id;
    let va = $(val).val();
    mydata = { name: name, id: id, val: va, type: 'SalesReturn' };
    $.ajax({
      type: "POST",
      url: '/SRSEdit',
      data: mydata,
      success: function (resp) {
        if (resp.msg) {
          var tamount2 = document.getElementById("mes");
          tamount2.innerText = resp.msg;
        }
        else {
          x = resp.Sc;
          let value = 0;
          for (i = 0; i < x.length; i++) {
            var $PIT = $('#BasicSalesPrice' + x[i].id);
            $PIT.val(x[i].BasicSalesPrice);
            var $PIT2 = $('#SalesPriceAfterDiscount' + x[i].id);
            $PIT2.val(x[i].SalesPriceAfterDiscount);
            var $PIT3 = $('#IncSalesPrice' + x[i].id);
            $PIT3.val(x[i].IncSalesPrice);
            var $PIT3 = $('#TotalSales' + x[i].id);
            $PIT3.val(x[i].TotalSales);
            let nm = x[i].TotalSales;
            value += parseFloat(x[i].TotalSales);
          }
          var $tamount2 = document.getElementById("tamount2");
          $tamount2.innerText = value;
          var tamount2 = document.getElementById("mes");
          tamount2.innerText = '';
        };
      },
      error: function (resp) {
        console.log('Something went wrong');
      }
    });
  }
  // delete data
  $("tbody").on('click', '.btn-del', function () {
    // console.log('delete btn clicked');
    let id = $(this).attr('data-sid');
    // console.log(id);
    mydata = { sid: id, type: 'SalesReturn' };
    mythis = this;
    $.ajax({
      type: "POST",
      url: '/SRDelete',
      data: mydata,
      success: function (data) {
        if (data.status == 1) {
          $(mythis).closest("tr").fadeOut();
        }
        var tamount2 = document.getElementById("tamount2");
        tamount2.innerText = data.tamonut;
        var tamount3 = document.getElementById("mes");
        tamount3.innerText = '';
      }
    });
  });
  $("#AddProductF").submit(function (e) {
    e.preventDefault();
    var form = $(this);
    dt = form.serialize();
    $("#Prodectselect2 select[name='Product2']").find('.after2').nextAll().remove();
    $.ajax({
      type: "POST",
      url: '/Link/Products',
      data: dt,
      success: function (data) {
        x = data.ld
        output = ''
        for (i = 0; i < x.length; i++) {
          output += "<option value=" + x[i].ProductName + '/' + x[i].id + ">" + x[i].ProductName + "</option>";
        };
        $("#Prodectselect2 select[name='Product2']").find('.after2').after(output);
        $('#AddProductF').trigger("reset");
        $('#AddProduct').modal('hide');
      }
    });
  });
  $("#AddPartyF").submit(function (e) {
    e.preventDefault();
    var form = $(this);
    dt = form.serialize();
    $("#Partyselect2 select[name='PartyName']").find('.after3').nextAll().remove();
    $.ajax({
      type: "POST",
      url: '/Link/Party',
      data: dt,
      success: function (data) {
        if (data.ld != 0) {
          x = data.ld
          output = ''
          for (i = 0; i < x.length; i++) {
            if (x[i].Type == 'Customer' || x[i].Type == 'Hotel & Restaurant') {
              output += "<option value=" + x[i].PartyName + ">" + x[i].PartyName + ' (' + x[i].Number + ")</option>";
            }
          };
          $("#Partyselect2 select[name='PartyName']").find('.after3').after(output);
          $('#AddPartyF').trigger("reset");
          $('#AddParty').modal('hide');
        }
        else {
          if (data.NUM) {
            alert(data.NUM)
          }
          else {
            alert(data.EM)
          }

        }

      }
    });
  });
</script>
{% endblock script %}